<!DOCTYPE html>
<!-- saved from url=(0056)http://www.myorange.ca/theme/jarvisadmin/error-page.html -->
<html lang="en" class="no-right-bar no-left-bar error-page js"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- // DO NOT REMOVE OR CHANGE ORDER OF THE FOLLOWING // -->
    <!-- bootstrap default css (DO NOT REMOVE) -->

    
 <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", :media => "all" %>

    <body>
        <header>
      <div class="hidden-phone hidden-tablet">
          <%= image_tag 'mm-header.png' %>
      </div>
      <div class="hidden-desktop">
          <%= image_tag 'mm-header-mobile.png' %>
      </div>
    </header>

        <div id="page-content" class="container">
            <!-- animation background starts here, please do not alter the order -->
            <p>
                <span id="fog"></span>
                <span id="fog-2"></span>
                <span id="glow"></span>
                <span id="stars"></span>
                <span id="stars-2"></span>
                <span id="small-stars"></span>
                <span id="small-stars-2"></span>
            </p>
            <!-- end animation -->
            <div class='thanks-message'>
                <h1 class="dimention">Thank You!</h1>    

                <h3>We've received your payment. We will be reaching out soon with your account details prior to public launch.</h3>
            </div>
            
            
        </div><!--end fluid-container-->
    </body>
</html>