<div class="container">
    <div class="row">
        <div class='offset1 span9  formglow'>
            <div class="formbox">
        <h1 class="inset">Privacy Policy</h1>

        <p class="inset">Your privacy is important to us at MusicMelter, and maintaining your confidence and trust is one of our highest priorities and responsibilities. We at MusicMelter respect your right to keep your personal information confidential and understand your desire to avoid unwanted solicitations.  We hope that by taking a few minutes to read our policy, you will have a better understanding of what we do with the information you provide us, and how we keep it private and secure.</p>

        <h3 class="inset">A. Types of Information We Collect</h3>
        <p class="inset">We collect certain personal information about you and your business – but only when that information is provided by you or is obtained by us with your authorization. We use this information to provide you with relevant data based on your location, in order for you to be found within the target market you are trying to reach and connect with. We will also use your information to make MusicMelter better as an all-encompassing music website, enhancing your business experience.</p>

        <h3 class="inset">B. Confidentiality and Security of Nonpublic Personal Information</h3>
        <p class="inset">Except as otherwise described in this notice, we at MusicMelter restrict access to nonpublic personal information about you to employees of our firm and other parties who must use that information to provide services to you. Their right to further disclose and use the information is limited by the policies of MusicMelter, applicable law, our Code of Professional Conduct, and nondisclosure agreements where appropriate.  We also maintain physical, electronic, and procedural safeguards in compliance with applicable laws and regulations to guard your personal information from unauthorized access, alteration, or premature destruction.</p>
        <p class="inset">Thank you for allowing us to serve your business needs. We value you as a business and are committed to protecting your privacy. We hope you view MusicMelter as a trusted website that caters to the needs of your business and we will work to continue earning your trust. Please contact us if you have any questions or if we can be of further service.</p>

        <p><strong>Best regards,</strong></p>
        <p><strong>The Staff at Music Melter.</strong></p>
        </div>
    </div>
</div>