<div class="container">
    <div class="row">
        <div class="offset1 span9 formglow">
            <div class="forbox">
                <h1 class="hidden-tablet hidden-phone inset">Refund Policy</h1>
                <h2 class="inset hidden-desktop">Refund policy</h1>

                <p class="inset">We at MusicMelter value you and your business; we strive to maintain the highest standards for the assistance and expansion of your customer base, exposure and business. This is why we offer our refund policy. We want to ensure you are fully satisfied with the service provided and to maintain the integrity of MusicMelter.</p>

                <p class="inset">If you are not 100% satisfied with your personalized and customizable web page within MusicMelter.com, after 60 days from the activation of your web page we will refund your money at any time you wish, the fee will be prorated and returned from time of cancellation at per month charge for each month used after the initial 60 days. </p>

                <p class="inset">We appreciate your business and will continuously work toward improving and expanding Musicmelter to create a site that gives you a great return for your investment. If you have any issues, thoughts or concerns we are always open and would love to hear from you in order to provide the best service we can. </p>


                <p class="inset">Please feel free to contact our team: </p>

                <p class="inset white"><span class="pull-left"><a href="tel:1-800-261-0514">1-800-261-0514</a> </span><span class="pull-right">
                <a href="mailto:business@musicmelter.com?subject=refund">business@musicmelter.com</a></span></p>
            </div>
        </div>
    </div>
</div>