<div class="buffer"></div>
<div class="container">
    <div class="row">
        <div class='offset1 span9  formglow'>
            <div class="formbox">
            <p />
            <p class="inset">You can trust us! We keep your information safe, we will never share your information with third parties.</p>
            <h1 class="inset">Privacy Policy</h1>
            <p class="inset">Your privacy is important to us at MusicMelter, and maintaining your confidence and trust is one of our highest priorities and responsibilities. We at MusicMelter respect your right to keep your personal information confidential and understand your desire to avoid unwanted solicitations.  We hope that by taking a few minutes to read our policy, you will have a better understanding of what we do with the information you provide us, and how we keep it private and secure.</p>
            
            <p class="inset"><h3>A. Types of Information We Collect</h2></p>

            <p class="inset">We collect certain personal information about you – but only when that information is provided by you or is obtained by us with your authorization. We use this information to provide you with relevant data based on your location, in order for you to find and connect with who and what you’re searching for. We will also use your information to make MusicMelter better as an all encompassing music website by enhancing your user experience.</p>
            
            <h4 class="inset">Example of sources from which we collect information include:</h4>
            <ul>
                <li class="inset">Personal profile pages</li>
                <li class="inset">"Wanted" pages</li>
                <li class="inset">Buy &amp; Sell pages</li>
            </ul>

            <h3 class="inset">B. Confidentiality and Security of Nonpublic Personal Information</h2>

            <p class="inset">Except as otherwise described in this notice, we at MusicMelter restrict access to nonpublic personal information about you to employees of our firm and other parties who must use that information to provide services to you. Their right to further disclose and use the information is limited by the policies of MusicMelter, applicable law, our Code of Professional Conduct, and nondisclosure agreements where appropriate. <strong>We also maintain physical, electronic, and procedural safeguards in compliance with applicable laws and regulations to guard your personal information from unauthorized access, alteration, or premature destruction.</strong>

            <p class="inset">Thank you for allowing us to serve your musical needs. We value you as an artist and are committed to protecting your privacy. We hope you view MusicMelter as a trusted website that caters to a musicians every want and need and we will work to continue earning your trust. Please contact us if you have any questions or if we can be of further service.</p>

            <p class="inset">Best regards,</p>
            <p class="inset">The Staff at Music Melter.</p>
            <p />
        </div>
    </div>
</div>
<div class="buffer"></div>