
    <% if @business_account.no_payment?  %>
        <legend>Price: $600</legend>
        <div class="warranty">
            <p><span class="attention">You have registered!</span> However your account is <span class="red">inactive</span> since your payment has not been made. Click <strong>Subscribe</strong> to get rocking!</p>
            <p>
            <p><a href="/terms/refund" class="refund">Refund Policy</a></p>

            <p> 
                <%= render "payment/payment_stats" %>
                <span class="help">
            </span>
            </p>
        </div>

     <% end %>  

    <% if @business_account.not_a_customer? || @business_account.no_payment? %>
        <div id="stripe_error"></div>
            <%= render "shared/stripe/cc_form" %>    
    <% end %>
