
<div class="container">
    <div class="row">
        <div class="span4 formglow">
            <div class="formbox">
                <%= render 'form' %>
            </div>
        </div>
        <%= render "shared/pages_preview" %>
    </div>
</div>