// Place all the styles related to the register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* move me to overrides for global */
.centered {
    display: inline;
    margin-left: 10%;
    text-align: center;
}

h1 {
    font-family: 'OldStamperRegular';
    font-size: 70pt;
    color: #9ACE6D;
    line-height: 72pt;
}

h2 {
    font-family: 'crackhouseregular';
    font-size: 55pt;
    line-height: 60pt;
    color: #FFFFFF;
    font-weight: 200;
}

h3 {
    font-family: 'crackhouseregular';
    font-size: 30pt;
    line-height: 40pt;
    color: #FFFFFF;
    font-weight: 200;

}

.video {
    position: relative;
    padding-bottom: 39.25%; /* 16:9 */
    height: 0;

     iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.mobile-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

     iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#mobile-header {
    background-color: #00000;
    img {
        width: 100%;
        margin-left: auto;

    }
}

/* Font Special Effects */
.sharper-glow {
    text-shadow: 1px 0px 0px #686868, 1px 1px 0px #686868, 0px 1px 0px #686868, 
    -1px 1px 0px #686868, -1px 0px 0px #686868, -1px -1px 0px #686868, 
    0px -1px 0px #686868, 1px -1px 0px #686868, 1px 4px 5px #aeaeae;
}

.inset {
    text-shadow: 0px 2px 3px #666;
}



/* Page Regions */


header {

    img {
      width: 83%;
      margin-left: 7%;
    }
}


footer {
  /*
    position: absolute;
    bottom: 0;
*/
    .copyright {
        font-family: helvetica;
        font-size: 12pt;
        color: #92BE6E;
        font-weight: 100;
    }
}


/* User specific styles */


    .icebreaker{
       .top {
            font-family: 'crackhouseregular';
            font-size: 65pt;
            color: #FFF;
            line-height: 67pt;
        }
        .bottom {
            font-family: 'crackhouseregular';
            font-size: 55pt;
            color: #FFF;
            line-height: 67pt;   
        }
    }
    .register-button {
        padding-top: 40px;
    }

    .tablet {
        font-family: 'OldStamperRegular';
        font-size: 36pt;
        color: #92BE6E;
        line-height: 37pt;
        margin: auto;
        text-decoration: none;
    }

    .mobile {
        font-family: 'OldStamperRegular';
        font-size: 21pt;
        color: #92BE6E;
        line-height: 32pt;
        margin: auto;
        text-decoration: none;
    }


/* Business specific styles */
.business {

    p{
        /* font-family: 'cleanhousemedium'; */
        font-size: 17pt;
        color: #FFFFFF;
        line-height: 22pt;
        padding-right: 16px;
        text-align: justify;
    }
 
    .icebreaker {

           .top {
                font-family: 'crackhouseregular';
                font-size: 95pt;
                color: #FFF;
                line-height: 75pt;
            }
            .bottom {
                font-family: 'crackhouseregular';
                font-size: 79pt;
                color: #FFF;
                line-height: 67pt;   
            }
       
    }

    h1{
        font-family: 'OldStamperRegular';
        font-size: 35pt;
        color: #92BE6E;
        line-height: 60pt;
        margin: auto;
        text-decoration: none;
    
    }

    h2{
        font-family: 'OldStamperRegular';
        font-size: 22pt;
        color: #92BE6E;
        line-height: 32pt;
        margin: auto;
        text-decoration: none;
    
    }

    h2.sharper-glow {
        margin: 15px 0px 15px 0px;
    }

    h3{
        font-family: 'OldStamperRegular';
        font-size: 17pt;
        color: #92BE6E;
        line-height: 32pt;
        margin: auto;
        text-decoration: none;    
    }

    .center {
        margin:0 auto;
        float:none;
    }

    .button {
        margin-left: 20%;
        width: 60%;
    }
    .video {
      padding-top: 26px;   
    }

}
