// Place all the styles related to the terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.formglow {
    padding-left: 30px; 
    padding-right: 30px;


    p {
        font-size: 16pt;
    }
}