// Place all the styles related to the terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.formglow {
    padding-left: 30px; 
    padding-right: 30px;


    p {
        font-size: 16pt;
        text-align: justify;
    }

    h1 {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        font-size: 59pt;
    }

    a {
        color: #FFFFFF;
        font-family: 'crackhouseregular';
        font-size: 38pt;
        line-height: 46px;
        margin-bottom: 50px;
    }

}