// Place all the styles related to the terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.buffer {
    margin-top: 50px;
}
.formglow {
    padding-left: 30px; 
    padding-right: 30px;


    p {
        font-size: 16pt;
        text-align: justify;
    }

    h1 {
        position: relative;
        margin: 0 auto;
        font-size: 28pt;
    }

    a {
        color: #FFFFFF;
        font-family: 'berthold';
        font-size: 18pt;
        line-height: 20px;
        margin-bottom: 15px;
        text-decoration: none;
    }


}