
<header>
        <div class="row-fluid">
            <%= image_tag 'temporary-header.png' %> 
        </div>
    </header>
<div class="container">
    <div class="row business">
        <div class="span6">
            
        </div>
        <div class="offset1 span5 readingscreen">
        <p>Expand your business, customers and reach with your own new personalized and customizable web page... Placed right in the middle of your direct target market!</p>
        <p>The world of MusicMelter creates a unique opportunity for musicians and artists to create and expand on their talents, where they can find you and your services to help get them there!</p>
        <p>Expanding your business has never been easier!</p>
          <span width="75%">
            <%= image_tag "register_button.png" %>
        </p>
        </div>
    </div>
    
    <div class="row business">
        <div class="span12">
        <h1 class="sharper-glow inset">The newest way to boom your business!</h1>
        <h2 class="sharper-glow inset hidden-desktop">The newest way to boom your business!</h2>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="span12">
            <!-- bold copy placeholder -->
            </div>
            <div class="span12">
                <p class="copyright">&copy; 2013 MUSICMELTER.COM</p>
            </div>
        </div>
    </footer>
</div>