

<div class="row">
    <div class="span6">
        <!-- video holder -->
    </div>
    <div class="span4">
        <h2>100% FREE</h2>
        <h2>As it should be!</h2>
        <p />
        <%= image_tag "register_button.png" %>
    </div>
</div>
<div class="row">
    <div class="span6">
        <h2>Breaking the ice in the Music World!</h2>
    </div>
</div>


<footer>
    <div class="row">
        <div class="span12 centered">
            <h1>Coming Summer 2013...</h1>
        </div>
    </div>
    </div class="row">
        <div class="span12">
            <p>&copy;2013 Music Melter</p>
        </div>
    </div>
</footer>