<div class="container">
   <header>
      <div class="flowplayer">
         <video autoplay loop>
            <source type="video/mp4" src="http://assets.musicmelter.com.s3.amazonaws.com/MusicMelter_double_fullres.mp4">
         </video>
      </div>
</div>
</header>

