<div class="container">
   <header>
      <div class="flowplayer">
      	<div id="testL"></div>
      	<div id="testR"></div>
      	<div id="testD"></div>
<!--          <video autoplay loop>
            <source type="video/mp4" src="http://assets.musicmelter.com.s3.amazonaws.com/MusicMelter_double_fullres.mp4">
         </video> -->

      <div class="mmGif">
          <%= image_tag 'MusicMelter_double_fullres.gif' %>
      </div>

      </div>
</div>
</header>

