 <div class="container">
    <header>
      <div class="hidden-phone hidden-tablet">
          <%= image_tag 'MusicMelter_double.gif' %>
      </div>
      <div class="hidden-desktop">
          <%= image_tag 'MusicMelter_single.gif' %>
      </div>
    </header>
 </div>
